<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <link rel="icon" href="{{site.baseurl}}/assets/img/favicon.ico" type="image/x-icon">
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
        <!--Custom JS-->
    </head>
    
    <body>
        {{content}}
    </body>
    
</html>
